@{
    ViewData["Title"] = "Dashboard";

    <h1>Dashboard Principal</h1>

    <p>Olá @User.Identity.Name</p>

    <div>
        <a asp-controller="Products" asp-action="List" class="btn btn-primary">Visualizar Meus Produtos</a>
    </div>
}
